.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  &-link {
    margin-right: 20px;
    text-decoration: none;
    color: grey;

    &:hover {
      color: lightblue;
    }
  }
}
